RewriteEngine on  
  
RewriteRule ^Blog  content/blog.php [NC,L]
RewriteRule ^FitHit fithit.php [NC,L]
RewriteRule ^Contact  contact.php [NC,L]
RewriteRule ^Cookies  cookies.php [NC,L] 
RewriteRule ^Index  index.php [NC,L] 
RewriteRule ^Meals  meals.php [NC,L] 
RewriteRule ^Aboutus  aboutus.php [NC,L] 
RewriteRule ^PrivacyPolicy  privacypolicy.php [NC,L] 
RewriteRule ^Terms-And-Conditions  terms-and-conditions.php [NC,L]
