@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Roboto:wght@400;500&display=swap');

body {
    background: #E9EDF6;
}

.header{  
    background: #033C33;
    mix-blend-mode: normal;
    height: 100vh;       
}

.contcat-hero-bg {
    background: url(../../images/contact-hero.jpeg);
}

.contact-hero-txt h1 {  
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:'Playfair Display';
    font-style: normal;
    font-weight: 900;
    line-height:80px;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
}

.contact-main {
    display: flex;
    margin: auto;
    max-width: 75rem;
    padding: 4rem 2rem;
}

.contact-left-address li {
    margin: 2rem 0;
}

.contact-form {
    align-items: center;
}

.location{
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
    border-radius: 4px;
    max-width: 80rem;
    margin: auto;
}

.location-part h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    color: #215A51;
    padding-bottom: 15px;
    padding-top: 50px;
}

.location-part p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #6B7177;
    padding-bottom: 64px;
}

.location-icons h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #215A51;
}

.location-icons {
    padding-top: 150px;
}

.location-icon-padding {
    text-align: center;
    font-size: 30px;
    padding-bottom: 70px;
}

.location-icon-padding ul {
    display: contents;
}

.location-icon-padding li {
    margin: 0 5rem;
    display: inline-block;
}

.location-icons li {
    margin: 4rem;
}

.location-icons i {
    color: #B9B9B9;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.contact-form {
    background: #FFFFFF;
    margin-left: 27rem;
}

.location iframe{
    width: 100%;
    background: #033C33;
    mix-blend-mode: normal;
}

.contact-A{
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 22px;
   line-height: 26px;
   text-align: center;
   color: #6B7177;
}
.contact-A h3 {
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    color: #215A51;
    padding-bottom: 15px;
    padding-top: 45px;
}

.contact-A p {
    padding-bottom: 62px;
}

.contact-left{
    background:#215A51;
    position: absolute;
    padding: 102px 5rem;
}

.contact-left-address ul {
    padding: 37px 0;
}

.contact-left h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500px;
    font-size: 25px;
    line-height: 35px;
    color: #FFFFFF;
}

.contact-left-icons ul{
    display: contents;
}



.contact-left-address{
    box-sizing: border-box;
    color: #FFFFFF;
}
.contact-left-icons{
     color: #FFFFFF;
}

.contact-left-address li {
    display: block;
}

.contact-left-icons li {
    display: inline-block;
    text-decoration: none;
    margin: 0 1rem;
}

.contact-right-content{ 
    background: #FFFFFF;
    box-shadow:0px 0px 11.2143px rgba(0, 0, 0, 0.06);
    border-radius: 8.97143px;  
    padding: 3rem 3rem 2rem 3rem;
}

.green-btn {
    border: none;
    padding: 10rem 2rem;
    margin-top: 1rem;
    background:#215A51;
    color: #FFFFFF;
    font-size: 22px;
    cursor:pointer;
}

.phone-number{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
color: #E0E0E0;
}
