background {
    color: #E5E5E5;
}


.contact-us{
    
    width:242px;
    height: 59px;
    left: 839px;
    top: 805px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    text-align: center;

    

    color: #215A51;
}
.contact-us div h5{
    width: 502px;
    height: 27px;
    left: 729px;
    top: 879px;

    font-family:Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;

    text-align: center;
}






.location{
    
     width: 1456px;
     margin: auto;
     padding: 80px 0;
     height: 518px;
     left:232px;
     top: 1933px;
     overflow:scroll;
     
     filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
     border-radius: 4px
}


.location iframe{
    width: 100%;
    
}

.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.fa fa phone{
    left: 20.64%;
    right: 78.31%;
    top:33.22%;
    bottom: 66.22%;

    background: #FFFFFF;
    border: 1.03823px solid #FFFFFF;
    box-sizing: border-box;
    transform: rotate(7.55deg);
   
}
.contact-col div h5{
    font-family: Roboto;
    font-style: normal;
    font-weight:  normal;
    font-size: 20px;
    line-height: 23px;

    color: #E0E0E0;
}

.information{
    width:508px;
    height: 678px;
    left: 282px;
    top: 981px;
}
 