

.header{
    

font-family: Playfair display;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height:89px;
text-align: center;

color: #FFFFFF;

}
.contact-us{
    /* Rectangle 2 */


/* 2nd deep */
background: #033C33;
mix-blend-mode: normal;
}

  
.contact-B{
    /* Any question or remarks? Just write us a message! */

/* First title */
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;
/* identical to box height, or 120% */
text-align: center;

/* Gray (shade 1) */
color: #6B7177;


}
.contact-information{
    /* Contact information */


font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;
text-align: center;

/* fff */
color: #FFFFFF;

}


.location{

    /* Frame 191 */



filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
border-radius: 4px;



}


.location iframe{
    width: 100%;
    
}

.header{

    
    width: 100%;
    height: 760px;
    left: 0px;
    top: 0px;
    background: #033C33;
    mix-blend-mode: normal;
}
.contact-A h4{
    font-family:Roboto;
    font-style: normal;
    font-weight:500;
    font-size: 50px;
    line-height: 59px;

    text-align: center;

    color: #215A51;
}
.contact-A p{
    /* Contact us */


   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 22px;
   line-height: 26px;
  /* identical to box height */
   text-align: center;

/* 2nd */
color: #6B7177;;

}
.contact-main{
    background:#215A51;
}
.contact-left-address h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500px;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #FFFFFF;
}
.contact-left-address{
    
    box-sizing: border-box;
    color: #FFFFFF;
}
.contact-left-icons{
     color: #FFFFFF;
}

.contact-left-address li {
    display: block;
}

.contact-left-icons li {
    display: inline-block;
    text-decoration: none;
}

.contact-right-content{ 
    background: #FFFFFF;
    box-shadow:0px 0px 11.2143px 
 rgba(0, 0, 0, 0.06);
    border-radius: 8.97143px;  
}



.contact-B{
   /* Any question or remarks? Just write us a message! */


/* First title */
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;
/* identical to box height, or 120% */
text-align: center;

/* Gray (shade 1) */
color: #6B7177;

}

.phone-number{
    

  
/* +123 456 789 */



font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */

/* Off gray */
color: #E0E0E0;

   
}
.email{
    /* contact@mindset.com */


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */

/* Off gray */
color: #E0E0E0;


}
.address{
   /* 337 Kelly Street, Charlotte */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */

/* Off gray */
color: #E0E0E0;
}



.contact-information{
    /* Rectangle 224 */



/* 2nd */
background: #215A51;
border-radius: 8.97143px;

}
.Information{
    /* Rectangle 223 */


/* fff */
background: #FFFFFF;
box-shadow: 0px 0px 11.2143px rgba(0, 0, 0, 0.06);
border-radius: 8.97143px;

}

.contact-col input, contat-col textarea{
    
    width:100%;
    padding: 15px;
    margin-bottom: 30px;
    outline:#FFFFFF;
    border: solid #ccc;
}

.contact-col button, contact-col submit{
    /* Frame 19 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 30px;

position: absolute;
width: 140.29px;
height: 52.64px;
left: 1335px;
top: 1502px;

/* 2nd */
background: #215A51;
border-radius: 4px;

}
.textarea-1{
    /* Group 356 */

position:static;
width: 567px;
height: 228px;
left: 908px;
top: 1249.23px;
}


.


.instergram{
  
    
    background: #B9B9B9;
    }

.linkedin{


 
    
    background: #B9B9B9;
    
    

}