

.header{
    

font-family: Playfair display;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height:89px;
text-align: center;

color: #FFFFFF;

    /* Rectangle 2 */
    left: 0px;
    top: 0px;
    align-items: center;
/* 2nd deep */
    background: #033C33;
    mix-blend-mode: normal;
    height: 100vh;
        
}


.header h1 {
    
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact-us{
    /* Rectangle 2 */


width: 1920px;
height: 760px;
left: 0px;
top: 0px;


/* 2nd deep */
background: #033C33;
mix-blend-mode: normal;
}

  
.contact-B{
    /* Any question or remarks? Just write us a message! */


width: 502px;
height: 27px;
left: 729px;
top: 879px;


/* First title */
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;
/* identical to box height, or 120% */
text-align: center;

/* Gray (shade 1) */
color: #6B7177;


}
.contact-information{
    /* Contact information */


width: 270px;
height: 35px;
left: 394px;
top: 1007px;


font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;
text-align: center;

/* fff */
color: #FFFFFF;

}


.location{

    /* Frame 191 */


width: 1456px;
height: 518px;
left: 232px;
top: 1933px;
overflow: scroll;


filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
border-radius: 4px;



}


.location iframe{
    width: 100%;
    
}



    
    width: 100%;
    height: 760px;
    left: 0px;
    top: 0px;
    background: #033C33;
    mix-blend-mode: normal;
}
.contact-A h4{
    font-family:Roboto;
    font-style: normal;
    font-weight:500;
    font-size: 50px;
    line-height: 59px;

    text-align: center;

    color: #215A51;
}
.contact-A p{
    /* Contact us */

.contact-A{
    /* Contact us */




   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 22px;
   line-height: 26px;
  /* identical to box height */
   text-align: center;

/* 2nd */
color: #6B7177;;

}
.contact-main{
    background:#215A51;
}
.contact-left-address h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500px;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #FFFFFF;
}
.contact-left-address{
    
    box-sizing: border-box;
    color: #FFFFFF;
}
.contact-left-icons{
     color: #FFFFFF;
}

.contact-left-address li {
    display: block;
}

.contact-left-icons li {
    display: inline-block;
    text-decoration: none;
}

.contact-right-content{ 
    background: #FFFFFF;
    box-shadow:0px 0px 11.2143px 
 rgba(0, 0, 0, 0.06);
    border-radius: 8.97143px;  
}



.contact-B{
   /* Any question or remarks? Just write us a message! */


width: 502px;
height: 27px;
left: 729px;
top: 890px;


/* First title */
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;
/* identical to box height, or 120% */
text-align: center;

/* Gray (shade 1) */
color: #6B7177;

}

.phone-number{
    

  
/* +123 456 789 */




font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */

/* Off gray */
color: #E0E0E0;

   
}
.email{
    /* contact@mindset.com */



width: 204.1px;
height: 23.55px;
left: 438.54px;
top: 1263.06px;


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */

/* Off gray */
color: #E0E0E0;


}
.address{
   /* 337 Kelly Street, Charlotte */



font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */

/* Off gray */
color: #E0E0E0;
}



.contact-information{
    /* Rectangle 224 */


width: 508px;
height: 678px;
left: 282px;
top: 981px;


/* 2nd */
background: #215A51;
border-radius: 8.97143px;

}
.Information{
    /* Rectangle 223 */


width: 760px;
height: 628px;
left: 812px;
top: 968px;


/* fff */
background: #FFFFFF;
box-shadow: 0px 0px 11.2143px rgba(0, 0, 0, 0.06);
border-radius: 8.97143px;

}

.contact-col input, contat-col textarea{
    
    width:100%;
    padding: 15px;
    margin-bottom: 30px;
    outline:#FFFFFF;
    border: solid #ccc;
}

.contact-col button, contact-col submit{
    /* Frame 19 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 30px;

width: 140.29px;
height: 52.64px;
left: 1335px;
top: 1502px;

/* 2nd */
background: #215A51;
border-radius: 4px;

}
.textarea-1{
    /* Group 356 */

position:static;
width: 567px;
height: 228px;
left: 908px;
top: 1249.23px;
}



.name{
    /* Group 354 */


width: 567.45px;
height: 93px;
left: 908px;
top: 999.85px;

}
.email-1{
    /* Group 353 */


width: 567.45px;
height: 92.38px;
left: 908px;
top: 1124.85px;


}

.facebook{
    /* path394 */

left: 21.09%;
right: 78.35%;
top: 43.31%;
bottom: 56.13%;

background: #B9B9B9;
transform: matrix(1, 0, 0, -1, 0, 0);

}



.instergram{
  
    
    background: #B9B9B9;
    }

.linkedin{


 
    
    background: #B9B9B9;
    
    

}