
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700;900&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&family=Roboto&display=swap');

:root{
    --primary-color:#215A51;
    
}

* {
    box-sizing:border-box;
}

.body{
    background-color: #E9EDF6;
}

.fithit-hero{
    background-color: var(--primary-color);
    width: 100%;
    position: relative;
    height: 100vh;   
}

.fithit-hero-content{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fithit-hero-content h1{ 
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    color:#FFFFFF;
}

.fithit-hero-content p{
    margin-top: 20PX;
    text-align: center;
}

.join{
    background-color: #ffffff;
    border: 0;
    border-radius: 4px;
    color: var(--primary-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: auto;
}

.join a{
    text-align: center;
    text-decoration: none;
}

.join:hover{
	background-color: #c1c9d3;
    transition: 0.4s;
    
}

.join span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

.join span:after{
    content: '\2192';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 25px;
    transition: 0.4s;
}

.join:hover span{
    padding-right: 25px;
    
}

.join:hover span:after{
    color: #215A51;
    opacity: 1;
    right: 0;
}

.fithit-about-head{
    text-align: center;
    position: relative;
    margin-top: 30px;
    margin-bottom: 40px;
}

.section-head{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-top: 40px;
}

.fithit-about-head h2{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 67px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.section-head-sub{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #6B7177;
}

.about-body {
    max-width: 70rem;
    margin: auto;
}

.about-box {
    padding: 3rem 0;
}

.about-box-content{
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 70rem;
    padding-top: 20px;
}


.about-box-right{
    margin: 0 5rem;
}

.about-box-right h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #5E5E5E;
}

.about-box-reverse{
    flex-direction: row-reverse;
}

.about-box-left{
    margin-left: 10px;
    margin-right: 10px;
}

.fithit-end{
    text-align: center;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}

.fithit-end h2{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 67px;
    text-align: center;
}

.join-end{
    background-color: var(--primary-color);
    border: 0;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: auto;
}

.join-end:hover{
	background-color: #363636;
    transition: 0.4s;
}

.join-end span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

.join-end span:after{
    content: '\2192';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 25px;
    transition: 0.4s;
}

.join-end:hover span{
    padding-right: 25px;
    
}

.join-end:hover span:after{
    color: #ffffff;
    opacity: 1;
    right: 0;
}

.join-end a{
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width:800px){

    .join {
        margin-top: 30px;
    }
    .fithit-hero {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .fithit-hero-content {
        top: 55%;
    }
    
    .fithit-hero {
        height: 70vh;
    }
    .fithit-hero-content h1{
        font-size: 32px;
        line-height: 143%;
    }

    .fithit-hero-content p {
        font-size: 16px;
        line-height: 132.3%;
    }

    .about-box-content {
        flex-direction: column-reverse;
    }

    .about-box {
        padding: 2rem 0;
      }

    .about-box img {
        width: 100%;
    }

    .section-head {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
    }

    .fithit-about-head h2 {
        font-size: 30px;
        line-height: 35px;
    }

    .fithit-about-head {
        margin-bottom: 8px;
      }

    .section-head-sub {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
    }

    .about-box-right h2 {
        font-size: 22px;
        line-height: 26px;
        margin: 24px 0;
    }

    .about-box-right p {
        font-size: 16px;
        line-height: 24px;
    }

    .about-box-btn {
        font-size: 24px;
        margin: 24px 0;
    }

    .about-box-right {
        margin: 0 2rem;
      }

    .fithit-end p{
        font-size: 18px;
        line-height: 21px;
        margin: 16px 0;
    }

    .fithit-end {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .fithit-end h2 {
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;        
    }

    .join-end{
        margin: 30px 0;
    }
}