:root {
	--primary-color: #215A51;
}
	

* {
	box-sizing: border-box;
}

header{
	padding: 1rem 5rem 1.5rem 2rem;
    width: 100%;
	position: fixed;
    top: 0;
	z-index: 2;
	background-color: transparent;
	height: 10vh;
}

.navbar {
    padding-right: 8%;
    padding-left: 8%;
	align-items: center; 
	justify-content: space-between;
}

.logo{
	padding-bottom: 10px;
}

.logo a{
    position: absolute;
    font-size: 20px;
    text-decoration: none;
	font-family: sans-serif;
}

.logo img {
	width: 60%;
}


nav ul {
	float: right;
}

.navlist li {
    list-style: none;
    display: inline;
    padding: 0.5rem 1rem;
}

.navlist a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 900;
	font-family: sans-serif;
}
.links{
    text-shadow: 0 0 2px #ffffff;
}
.navlist br {
	display: none;
}

.header-btn {
 border: 2px solid var(--primary-color);
 border-radius: 6px;
 display: inline;
 padding: .5rem 1rem;
 margin-left: 65px;
 background-color: var(--primary-color);
}

.header-btn a {
    color: aliceblue;
    font-weight: 600;
	font-family: sans-serif;
}

.scrolling-active{
    box-shadow: 0 1px 1rem rgba(0, 0, 0, 0.308);
	transition: all 2s ease-out 1s;
}


.scrolling-active, .navbar {
	transition: all 1s ease-out 0s;
	background-color: aliceblue;
}

.slider{
	position: relative;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
}


.myslide{
    height: 100vh;
	display: none;
	overflow: hidden;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 20px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}

.prev:hover, .next:hover{
	color: var(--primary-color);
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}

.active, .dot:hover{
	border-color: var(--primary-color)
}

.txt{
	position: absolute;
	color: #000000;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 1;
}

@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.txt h1{
	color: #215A51;
	font-size: 50px;
	margin-bottom: 20px;
	font-family: Playfair Display;
}


.txt p{
	font-weight: bold;
	font-size: 20px;
}


.slider img{
    opacity: 0.5;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

@media screen and (max-width: 800px){
	.myslide{
		height: 500px;
	}
	.logo img {
		width: 40%;
	}
	.txt{
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}

	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}

	.txt h1{
		font-size: 35px;
	}
	.txt p{
		font-size: 13px;
	}

}

@media screen and (max-width: 520px){
	.txt h1{
		font-size: 30px;
		margin-bottom: 20px;
	}

	.dot{
		display: none;
	}
}

.mobile-menu, .menu-exit {
	display: none;
}

@media only screen and (max-width: 1254px) {
	.menu-btn {
		display: block;
	}

	header {
		padding: 1rem;
		background-color: aliceblue;
	}

	.navbar {
		padding-right: 0.5rem;
	}

	.navlist br {
		display: inline-block;
	}	

	.mobile-menu {
		float: right;
	}

	.mobile-menu, .menu-exit {
		cursor: pointer;
	}	

	.navlist li {
		display: block;
		padding: 0.5rem 0rem;
	}

	.scrolling-active, .navbar {
		transition: none;
	  }

	.header-btn {
		margin-left: 0;
	   }	

	   nav {
		background: aliceblue;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		display: none;
	}

	nav ul {
		margin: 3rem 3rem 2rem 0;
	}

	.menu-exit {
		float: right;
		margin: 1rem 1.5rem;
	}

}

/*
@media only screen and (max-width: 800px) {
   .navbar,.scrolling-active .navbar, .scrolling-active {
	   display: none;
   }
}
*/


