
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700;900&family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&family=Roboto&display=swap');
:root{
    --primary-color:#215A51;
    
}
* {
    box-sizing:border-box;
}
.meals-body{
    background-color: #E9EDF6;
}
.meals-hero{
    background-color: var(--primary-color);
    width: 100%;
    position: relative;
    height: 100vh;   
}
.meals-hero-content{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.meals-hero-content h1{ 
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    color:#FFFFFF;
    padding: 2rem;
}
.meals-hero-content p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 133.8%;
    color: #FFFFFF;
    padding-bottom: 3rem;
}
.meals-hero-btn a{
    text-decoration: none;
    background-color: #FFFFFF;
    color: var(--primary-color);
    padding: 0.6rem;
    border-radius: 2px;    
}
.meals-about{
    margin-top: 5rem;
}
.meals-about-content{
    text-align:center;
    
}
.meals-section-p{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: var(--primary-color);
}
.meals-section-h{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 67px;
    text-align: center;
    color: var(--primary-color);
    margin-top: 1rem;
    margin-bottom: 2rem;
    
}
.meals-section-about-p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: #5E5E5E;
}
.meals-about-card{
    background-color: #215A51;
    padding-bottom: 15rem;
}

.meals-about-card-content {
    display: flex; 
}

.meals-card {  
    max-width: 60rem;
    margin: auto;
    padding: 4rem 0;
}

.meals-card-cont {
    display: flex;
    align-items: center;
    margin: 2rem;
    justify-content: space-between;
    border-radius: 3px;
    border-style: solid;
    border-color: #215A51;
    background-color: #E9EDF6;

}

.meals-btn{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 22px;
    width: 181px;
    height: 60px;
}

.meals-btn-cont{
    color:#FFFFFF;
}
.meals-card-img img {
    width: 293px;
    height: 244px;
    margin: 1rem;
    padding-top: 5px;
}

.meals-card-left {
    margin: 3rem;
    margin-top: 1rem;
}

.meals-card-left h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 55px;
    color: #a3a3c2;
    padding-bottom: 1rem;
}

.meals-card-left p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 132.3%;
    color: #5E5E5E;
    padding-bottom: 4rem;
}

.meals-card-left a {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 2.79346px 0.931153px -1.86231px rgba(0, 0, 0, 0.2);
    filter: drop-shadow(0px 0.931153px 4.65577px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1.86231px 0px rgba(0, 0, 0, 0.14));
    border-radius: 4px;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 132.3%;
    padding: 1rem;
    text-decoration: none;
}

.meals-card-bottom-text{
    text-align:center;
    max-width: 60rem;
    margin: auto;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #E0E0E0;  
}

.meals-card-bottom-text h1{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    line-height: 132.3%;
    color: var(--primary-color);
}

.meals-result-images{
    display: flex; 
    max-width: 70rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.meals-result-img-card{
    margin: 2rem;
}

.meals-result-img-card img{
    width: 310px;
}

.meals-result-img-card h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 133%;
    color: var(--primary-color);
    margin: 1rem;

}
.meals-reality-card-all{
    display:flex;
    width: 100%;
    max-width: 41rem;
    margin: 0 auto; 
    align-items: center;

}
.meals-reality-card{
    background-color: var(--primary-color);
    margin: 1rem;
}

.meals-reality-card-content{
    margin: 1rem;
    
}

.meals-reality-card-content h2{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 132.3%;
    text-align: center;
    color: #FFFFFF;

}

.meals-reality-card-content ul {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.meals-reality-card-content li{
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 132.3%;
    margin: 9px;
}
.meals-reality-card-btn{
    
    text-align: center;
    padding-bottom: 3rem;

}
.meals-reality-card-btn a{
    background-color:#FFFFFF;
    text-decoration: none;
    color: var(--primary-color);
    padding: 0.8rem 2rem;
}

.meals-result-img-card img{
    width: 100%;
}


@media screen and (max-width: 800px) {
    .meals-hero-content h1 {
        font-weight: bold;
        font-size: 32px;
        line-height: 143%;
    }

    .meals-hero-content p {
        font-weight: normal;
        font-size: 16px;
        line-height: 132.3%;
    }

    .meals-hero-btn a {
        font-weight: bold;
        font-size: 16px;
        line-height: 132.3%;
    }

    .meals-hero {
        height: 50vh;
      }

    .meals-section-p {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;       
    }

    .meals-section-h {
        font-weight: bold;
        font-size: 44px;
        line-height: 40px;
    }
    .meals-section-about-p {
        font-size: 18px;
        line-height: 132.3%;
    }

    .meals-card-cont {
        flex-direction: column-reverse;
    }

    .meals-card-left h1 {
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
    }

    .meals-card-left p {
        font-weight: normal;
        font-size: 16px;
        line-height: 132.3%;       
    }

    .meals-card-left a {
        font-weight: bold;
        font-size: 16px;
        line-height: 132.3%;
    }

    .meals-card-img img {
        padding: 11px;
        border-radius: 8px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }

    .meals-card-bottom-text {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .meals-card-bottom-text h1 {
        font-style: italic;
        font-weight: bold;
        font-size: 30px;
        line-height: 141.8%;
    }

    .meals-result-img-card {
        background-color: #ffffff;
    }
    .meals-result-images {
        display: block;
    }

    .meals-section-h {
        padding: 0 11px;
    }
}