
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700;900&family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&family=Roboto&display=swap');
:root{
    --primary-color:#215A51;
    
}
* {
    box-sizing:border-box;
}
.meals-body{
    background-color: #E9EDF6;
}
.meals-hero{
    background-color: var(--primary-color);
    width: 100%;
    position: relative;
    height: 100vh;  
    background: url(../../images/meals-hero-img.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;
}
.meals-hero-content{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.meals-hero-content h1{ 
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    color: var(--primary-color);
    padding: 2rem;
}
.meals-hero-content p{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 133.8%;
    color: #020202BA;
    padding-bottom: 3rem;
}

.join{
    background-color: #ffffff;
    border: 0;
    border-radius: 4px;
    color: var(--primary-color);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto 2rem auto;
    transition-duration: 0.4s;
    cursor: pointer;
    width: auto;
}

.join a{
    text-align: center;
    text-decoration: none;
}

.join:hover{
	background-color: #c1c9d3;
    transition: 0.4s;
    
}

.join span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

.join span:after{
    content: '\2192';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 25px;
    transition: 0.4s;
}

.join:hover span{
    padding-right: 25px;
    
}

.join:hover span:after{
    color: #215A51;
    opacity: 1;
    right: 0;
}

.meals-about{
    margin-top: 5rem;
    padding: 0 2rem;
}
.meals-about-content{
    text-align:center;
    
}
.meals-section-p{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: var(--primary-color);
}
.meals-section-h{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 67px;
    text-align: center;
    color: var(--primary-color);
    margin-top: 1rem;
    margin-bottom: 2rem;
    
}
.meals-section-about-p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: #5E5E5E;
}
.meals-about-card{
    background-color: #215A51;
    padding-bottom: 15rem;
}

.meals-about-card-content {
    display: flex; 
}

.meals-card {  
    max-width: 70rem;
    margin: auto;
    padding: 4rem 0;
}

.meals-card-cont {
    display: flex;
    align-items: center;
    margin: 2rem;
    justify-content: space-between;
    border-radius: 3px;
    border-style: solid;
    border-color: #ffffff;
    background-color: #E9EDF6;

}

.meals-card-img img {
    height: 309px;
    margin: 1rem;
    padding-top: 5px;
}

.meals-card-left {
    margin: 1rem;
}

.meals-card-left h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 55px;
    color: #a3a3c2;
    padding-bottom: 1rem;
}

.meals-card-left p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 132.3%;
    color: #5E5E5E;
    padding-bottom: 1rem;
}

.join-end{
    background-color: var(--primary-color);
    border: 0;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0;
    transition-duration: 0.4s;
    cursor: pointer;
    width: auto;
}

.join-end:hover{
	background-color: #363636;
    transition: 0.4s;
}

.join-end span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

.join-end span:after{
    content: '\2192';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 25px;
    transition: 0.4s;
}

.join-end:hover span{
    padding-right: 25px;
    
}

.join-end:hover span:after{
    color: #ffffff;
    opacity: 1;
    right: 0;
}

.join-end a{
    text-align: center;
    text-decoration: none;
}

.meals-card-bottom-text{
    text-align:center;
    max-width: 60rem;
    margin: auto;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #E0E0E0;  
}

.meals-card-bottom-text h1{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    line-height: 132.3%;
    color: gray;
}

.meals-result-images{
    display: flex; 
    max-width: 70rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.meals-result-img-card{
    margin: 2rem;
}

.meals-result-img-card img{
    width: 310px;
}

.meals-result-img-card h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 133%;
    color: var(--primary-color);
    margin: 1rem;

}
.meals-reality-card-all{
    display:flex;
    width: 100%;
    max-width: 42rem;
    margin: 0 auto; 
    align-items: center;

}
.meals-reality-card{
    background-color: var(--primary-color);
    margin: 1rem;
    border-radius: 4px;
}

.meals-reality-card-content{
    margin: 1rem;
    
}

.btn-conter {
    text-align: center;
}

.meals-reality-card-content h2{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 132.3%;
    text-align: center;
    color: #C1B6B6A1;

}

.meals-reality-card-content ul {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.meals-reality-card-content li{
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 132.3%;
    margin: 9px;
    display: inline flow-root list-item;
}
.meals-reality-card-btn{
    
    text-align: center;
    padding-bottom: 3rem;
    border-radius: 4px;

}
.meals-reality-card-btn a{
    background-color:#FFFFFF;
    text-decoration: none;
    color: var(--primary-color);
    padding: 0.8rem 2rem;
}

.meals-result-img-card img{
    width: 100%;
}


@media screen and (max-width: 800px) {
    .meals-hero-content h1 {
        font-weight: bold;
        font-size: 32px;
        line-height: 143%;
    }

    .meals-hero-content p {
        font-weight: normal;
        font-size: 16px;
        line-height: 132.3%;
    }

    .meals-reality-card-all {
        display: block;
        padding: 3rem 2rem;
    }

    .meals-hero-btn a {
        font-weight: bold;
        font-size: 16px;
        line-height: 132.3%;
    }

    .meals-hero {
        height: 50vh;
      }

    .meals-section-p {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;       
    }

    .meals-section-h {
        font-weight: bold;
        font-size: 25px;
        line-height: 40px;
    }
    .meals-section-about-p {
        font-size: 18px;
        line-height: 132.3%;
    }

    .meals-card-cont {
        flex-direction: column-reverse;
    }

    .meals-card-left h1 {
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
    }

    .meals-card-left p {
        font-weight: normal;
        font-size: 16px;
        line-height: 132.3%;       
    }

    .meals-card-left a {
        font-weight: bold;
        font-size: 16px;
        line-height: 132.3%;
    }

    .meals-card-img img {
        padding: 6px;
        border-radius: 8px;
        object-fit: cover;
        border-radius: 8px;
      }

    .meals-card-bottom-text {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .meals-card-bottom-text h1 {
        font-style: italic;
        font-weight: bold;
        font-size: 30px;
        line-height: 141.8%;
        color: #215A51;
    }

    .meals-result-img-card {
        background-color: #ffffff;
    }
    .meals-result-images {
        display: block;
    }

    .meals-section-h {
        padding: 0 11px;
    }
}
.meals-section-h h1{
    font-size: 35px;
}

.meals-result-img-card h3{

    color: gray ;
}