@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto&display=swap');
:root {
    --primary-color: #215A51;
    }
body {
    background-color: aliceblue;
    
}

.pp {
    width: 100%;
    max-width: 55rem;
    margin: 0 auto;
    padding: 0 1.5rem 4rem;
    box-sizing: border-box;
}
.pp-date {
    margin-bottom: 2rem;
}
.pp h1 {
    color: var(--primary-color);
    line-height: 5rem;
    margin-top: 8rem;
    font-size: 55px;
}

.pp h2 {
    color: var(--primary-color);
    line-height: 3rem;
}

.pp h3 {
    color: #3a3a3a;
    line-height: 3rem;
}

.pp p {
    line-height: 1.6rem;
}

.pp li {
    margin: 1rem;
}


.pp-main-list {
    color: var(--primary-color);
    font-weight: 800;
}

.pp p, li {
    color: #3a3a3a;
}

.pp a {
    text-decoration: none;
}
