@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto&display=swap');

:root {
--primary-color: #215A51;
}

* {
    box-sizing: border-box;
  }
  
.Aboutus {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.5rem;  
    align-items: center;
}

.section-box {
   display: flex;
   margin-left: auto;
   margin-right: auto;
}


.row-spacing {
    margin-top: 100px;
}

.right-col {
    margin-left: 10%;    
}

.headline {
    color: var(--primary-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px; 
    margin-bottom: 20px;
}

.h-tag {
    color: var(--primary-color);
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 67px;
    margin-bottom: 23px;
    
}

.section-box .ph {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px; 
    margin-bottom: 45px;
    color: #5E5E5E;
}
.section-box-btn  {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    padding: 1% 3%;
    display: inline-block;
}

.video-ph {
    margin-top: 30px;
}
.section-box-btn a{ 
    text-decoration: none;
    color: #fff;
}
.services p, .services h1{
    text-align: center;
}


/*---------Services-----------*/

.services h1{
    margin-bottom: 85px;
}

.services {
    width: 100%;
    max-width: 75rem;
    margin: 5rem auto auto auto;
    padding: 0 1.5rem;  
    align-items: center;
}

.services  .sr-img{
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}


.services img {
    width: 100%;
}


.services .img-row2 {
    display: flex;
    margin-top: 8rem;
}

.services .img-on-txt{
    color: #FFFFFF;
    left: 0;
    width: 100%;
    margin-top: -17rem;
}

.services .img-on-txt h2 {
    margin-bottom: 6rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 115%;
}

.services .img-on-txt-btn {
    text-decoration: none;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 132.3%;
    padding: 15px 27.9346px;
}

.services .sr-mobile {
    display: none;
}



/*---------Opportunity----------*/

.Opportunity {
    align-items: center;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    flex-wrap: nowrap;
}

.row-spacing-op {
    margin-top: 8rem;
}

.right-col-op {
    margin-right: 15%;
}



.Opportunity.section-box  {
    display: flex;
    margin-left: auto;
    margin-right: auto;
 }

 /*---------wonder women----------*/

 .wonder{
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

 .right-col-wo{
    margin-left: 15%;
    
}

 .wonder-ph {
    font-weight: bold;
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    line-height: 30px; 
    margin-bottom: 45px;
    color: #5E5E5E;
 }

 .row-spacing-wo {
    margin-top: 8rem;
}
 /*---------video---------*/

.row-spacing-video {
    margin-top: 8rem;
    align-items: center;
}

.video-header {
    text-align: center;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    
}

.section-box-ve .ph {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px; 
    margin-bottom: 45px;
    color: #5E5E5E;
    text-align: center;
}

.video-top {
    margin-top: 4rem;
    text-align: center;
}

 .video {
    padding: 0 1.5rem;
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;
 }

 /*---------freeble----------*/

.section-head {
    text-align: center;
    margin: 100px 0;
}

.row-spacing-free {
    margin: 30px 0;
}

.freeble {
    align-items: center;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.section-head .headline {
    margin-bottom: 20px;
}

.freeble h2 {
    color: var(--primary-color);
    font-style: roboto;
    font-weight:normal;
    font-size: 40px;
    margin-bottom: 40px;
}

.freeble h3{
    color: var(--primary-color);
    margin-top: 60px;
    margin-bottom: 32px;
}

.freeble li {
    margin-bottom: 16px;
}

.freeble ul {
    color: var(--primary-color);
    padding-left: 20px;
}

.frreble-right-col {
    margin-left: 10rem;
}


 /*---------Blog card----------*/

 .blog {
    width: 100%;
    max-width: 65rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    box-sizing: border-box;
}


.blog .blog-card {
    margin: 10px;
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding-bottom: 12px;
}

.blog .blog-card:hover {
    box-shadow: 4px 6px 8px 0 rgba(0, 0, 0, 0.548);
    transition: all 0.3s ease-out 0s;
    border-radius: 3px;
    cursor: pointer;
}

.blog img {
    width: 100%;
}

.blog p, .blog h2, .blog p, .blog a {
    margin-top: 4px;
    margin-left: 12px;
}

.blog h2 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 133%;
    color: var(--primary-color);
}

.blog .paragraph {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #4F5E5C;
    margin-bottom: 15px;
    margin-top: 15px;
}

.blog .topic {
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    color: #868C92;;
}

.blog a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight:bold;
}

.blog a:hover {
    
    color: #11312c;
    transition: all 0.7s ease-out 0s;
    
}


 /*---------Accroding----------*/

.accordion {
    width: 100%;
    max-width: 50rem;
    margin: 2rem auto;
}

.accordion-item {
    margin: 1rem 0;
    border-radius: .3rem;
    border: 2px solid var(--primary-color);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}

.accordion-item-header {
    padding: .5rem 3rem .5rem 1rem;
    min-height: 3rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: var(--primary-color);
}

.accordion-item-header::after {
    content: "\002B";
    font-size: 1.3rem;
    position: absolute;
    right: 1rem;

}

.accordion-item-header.active::after {
    content: "\2212";
}
.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.accordion-item-body-content {
    padding: 1rem 2rem;
    color: var(--primary-color);
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right,transparent,#34495e,transparent)1;   
}
.accordion-item-header.active + .accordion-item-body {
    max-height: 1000px;
}



@media only screen and (max-width: 1254px) {
	.mobile-menu, .menu-exit {
		display: block;
	}

    .services .img-row2 img{
       display: block;
       width: 100%;
    }
   
    .frreble-right-col {
        margin-left: 4rem;
    }

   .Opportunity {
       max-width: 65rem;;
   }

   .right-col-op {
       margin-right: 3rem;
   }
 


    .freeble img {
        width: 100%;
    }
}

@media screen and (max-width:1100px) {
    .Aboutus img {
     
        width: 25rem;
    }
    .Aboutus {
       max-width: 70rem;
    }

    .Aboutus .right-col {
        margin-left: 3rem;
    }

    .Opportunity {
        max-width: 60rem;
    }

    .wonder {
        max-width: 60rem;
    }

    .wonder img {
        width: 20rem;
    }

    .right-col-wo {
        margin-left: 30px;
    }

    .accordion {  
   
        padding: 0 1.5rem;
    }

   
}


@media only screen and (max-width: 800px) {
    .Aboutus {
        text-align: center;
        flex-flow: column-reverse;
        margin: 0;
        width: 100%;
    }

    .footer .about p {
        margin-right: 0;
    }

    .section-box .ph {
        font-size: 15px;
    }

    .h-tag {
        font-size: 35px;
    }

    .Aboutus img {
        width: 60%;
        margin-top: 5rem;
    }

    .Aboutus .right-col {
        margin-top: 4rem;
        margin-left: 0%;
        width: 100%;
        height: 100%;
    }

    .right-col {
        margin-left: 0;    
    }  
    
    .Opportunity {
        text-align: center;
        flex-flow: column-reverse;
        max-width: 35rem;

    }
    .Opportunity img {
        display: none;
    }

    .right-col-op {
        margin-right: 0;
    }

    .services .img-on-txt{
        left: 0;
        width: 100%;
        margin-top: -13rem;
    }
    
    .services .img-on-txt h2 {
        margin-bottom: 2rem;
        font-size: 20px;
    }
    
    .services .img-on-txt-btn {
        font-size: 14px;
        padding: 10px 20px;
    }

    .services .sr-img{
        display: none;
    }

    .services .sr-mobile {
        display: block;
        padding: 2rem 0;
        border-bottom: 2px solid var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: space-between;      
    }

    .services .sr-mobile-top {
        border-top: 2px solid var(--primary-color);
    }
    
    .services .sr-mobile img{
        width: 20%
    }
    
    .services .sr-mobile li {
        display: inline-block;
    }

    .services .sr-mobile a {
        font-family: Roboto;
        font-weight: bold;
        font-size: 24px;
        line-height: 132.3%;
        color: var(--primary-color);
        text-decoration: none;
    }


    .services .sr-mobile .fi {
        color: var(--primary-color);
        margin-left: 1rem;
        font-size: 18px;
    }

    .services .sr-mobile ul {
        cursor: pointer;
    }

    .services .sr-mobile .fi:hover {
        margin-left: 1.2rem;
        transition: all 0.3s ease-out 0s;
    }
    
    .wonder {
        flex-flow: column-reverse;
        text-align: center;
        max-width: 40rem;
    }
    .wonder img {
        padding: 0 1.5rem;
        width: 70%;
        height: 100%;
    }
    .wonder-ph {
        font-size: 17px;
    }

    .section-box-ve .ph {
        font-size: 18px;
    }
	.right-col-wo {
        margin-left: 0;
    }

    video {
        padding: 0 1.5rem;
        width: 100%;
        height: 100%;
    }

   
 .frreble-right-col h2 {
     font-size: 25px;
 }

 .frreble-right-col {
    margin-left: 0;
}
  

    .freeble.section-box {
        display: block;
    }

    .freeble img {
        padding: 0 1.5rem;
        width: 100%;
        height: 100%;
        padding-bottom: 3rem;
    }
    .section-head .freeble{
        margin-top: 100px;
        margin-bottom: 1rem;
    }

    .blog {
        display: block;
        width: 100%;
    }

    .accordion {  
        max-width: 40rem;
        padding: 0 1.5rem;
    }

    .newslatter {
        padding: 0 1.5rem;     
    }

    .form__button {
        margin-top: 2rem;
      }

}
