@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto&display=swap');
:root {
    --primary-color: #215A51;
    }
body {
    background-color: aliceblue;
    font-size: 19px;
    font-family: roboto;
}

.tac {
    width: 100%;
    max-width: 55rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.tac h1 {
    color: var(--primary-color);
    line-height: 1rem;
    margin-top: 5rem;
    font-size: 55px;
}

.tac h2 {
    color: var(--primary-color);
}

.tac h3 {
    color: #3a3a3a;
}

.tac p {
    line-height: 1.6rem;
}

.tac li {
    margin: 1rem;
}


.tac-main-list {
    color: var(--primary-color);
    font-weight: 800;
}

.tac p, li {
    color: #3a3a3a;
}

.tac a {
    text-decoration: none;
}
